body, html {
  height: 100%;
  background: linear-gradient(43deg, #f90000, #ce4b44);
  background-size: 400% 400%;
  -webkit-animation: Background 22s ease infinite;
  -moz-animation: Background 22s ease infinite;
  animation: Background 22s ease infinite;
}

@-webkit-keyframes Background {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@-moz-keyframes Background {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@keyframes Background {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}

#map {
  display: block;
  height: 30%;
  width: 70%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  outline: 5px solid #7e2d25;
}

#city {
  display: block;
  height: 50%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  outline: 5px solid #7e2d25;
}

.navbar {
  font-family: Georgia, serif;
  background: linear-gradient(43deg, #4d1e13, #94231c);
  background-size: 400% 400%;
  -webkit-animation: Card 30s ease infinite;
  -moz-animation: Card 30s ease infinite;
  animation: Card 30s ease infinite;
}

@-webkit-keyframes Card {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@-moz-keyframes Card {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@keyframes Card {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}

.navbar-brand {
  color: white;
  margin-left: -20px;
  text-decoration: none;
}

.navbar-brand:hover {
  color: white;
  margin-left: -20px;
  text-decoration: none;
}

#logo {
  margin-top: -10px;
}

.navbar-text {
  color: white;
  position: absolute;
  right: 0;
}

#distance {
  color: white;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 25px;
  margin-top: 15px;
  font-weight: 500;
}
